@use "./base.scss";

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.white {
  color: #fff;
}

.overflow-auto {
  overflow: auto;
}

.pointer {
  cursor: pointer;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.stretch {
  align-self: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.f-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-c-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-c-s {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.f-c-e {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.f-c-e {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.f-e-c {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.f-d-c-e {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

/********************** 边距 / 间隔 / font-size **********************/
@for $i from 8 through 40 {
  .fs#{$i} {
    font-size: #{$i}px;
  }
  .br#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 1 through 1000 {
  .fw#{$i} {
    font-weight: #{$i};
  }
  .h#{$i} {
    height: #{$i}px;
  }
  .lh#{$i} {
    line-height: #{$i}px;
  }
  .w#{$i} {
    width: #{$i}px;
  }
}

@for $i from 1 through 300 {
  .m#{$i} {
    margin: #{$i}px !important;
  }

  .mt#{$i} {
    margin-top: #{$i}px !important;
  }

  .mr#{$i} {
    margin-right: #{$i}px !important;
  }

  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }

  .ml#{$i} {
    margin-left: #{$i}px !important;
  }

  .p#{$i} {
    padding: #{$i}px !important;
  }

  .pt#{$i} {
    padding-top: #{$i}px !important;
  }

  .pr#{$i} {
    padding-right: #{$i}px !important;
  }

  .pb#{$i} {
    padding-bottom: #{$i}px !important;
  }

  .pl#{$i} {
    padding-left: #{$i}px !important;
  }
}
